---
title: Our Story
hero: Our story
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="passion-header">We Understand.</h3>
		<p class="passion-text">It's hard to be diabetic. We know what it's like, and that's why we decided to create the new marketplace, tailored for your needs. </p>
	</div>
	<div>
		<h3 class="animal-header">We Care.</h3>
		<p class="animal-text">All products are carefully designed, engineered, and rigorously tested with the utmost care by diabetics like you. We hold the quality of our products in the highest regard.</p>
	</div>
	<div>
		<h3 class="style-header">We Help.</h3>
		<p class="style-text">We make finding products easy. It's hard enough being diabetic, so let us take care of those long tedious searches. We got you covered.</p>
	</div>
</div>
<p class="style-text">The unfortunate reality is that some marketplaces will sell products that break diabetic specialty tools. We don't. Some protective overlay patches may be too thick or may outright absorb the necessary radio frequency. This renders equipment unusable. When we’re spending thousands of dollars on insulin delivery devices (IDD) and continuous glucose monitoring (CGM) equipment, this is a non-starter. Therefore, I created a unique marketplace for Diabetic Supplies that enforces a strict wall-garden approach, similar to Apple’s AppStore, to ensure all maintain usability. No more lost insulin, no more positioning receivers ‘just right’, and no more guesswork: let us make managing your diabetes easy.</p>
